@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

.main{font-family: 'Raleway', sans-serif;}
.body{font-family: 'Raleway', sans-serif;}

.footer{
    padding: 20px;
    background-color: #212529;
}

.footertitle {
    display: flex;
    justify-content: center;
    color: aliceblue;
}

.footerpar {
    display: flex;
    justify-content: center;
    color: aliceblue;
}

.cuponera{align-items: center;
margin-top: 30px;
margin-left: 25px;
margin-right: 25px;}

.titulokupon{text-align: center;}
.botonkupon{align-content: center;}
